html,body{
	height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:300;
  /*line-height:1.8em;*/
  color:#666;
}

h1,h2,h3{
  text-align:center;
  padding: 20px;
  margin: 0;
  font-family: 'Baloo Bhaijaan', cursive;
  letter-spacing:2px;
}

h3{
  color: #e1a87a;
}

.title-text{
  position:absolute;
  top:30%;
  width:100%;
  text-align:center;
  color: #fff;
  font-size:4vw;
  font-family: 'Freckle Face', cursive;
  letter-spacing:8px;
  text-transform:uppercase;
}

.head-container{
  background-image:url('../img/Adem.png');
  min-height:100%;
  width: 100%;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
}

/*Education*/
.grid{
  display: grid;
  grid-template-areas:
  "top top top"
  "right center left";
  padding-top: 1em;
  padding-bottom: 0; 
  line-height: 2em;
  margin: 0;
}

.Section-title{
  grid-area: top;
}

.right-container{
  grid-area: right;
  text-align: center;
}

.left-container{
  grid-area: left;
  text-align: center;
}

.center-container{
  grid-area: center;
  text-align: center;
}

.EducationDivs{
  border-radius: 25px;
  background-color: rgb(140, 135, 135, 0.1);
  margin: 30px;
  padding-top: 30px;
  margin-bottom: 50px;
}

/* hover for divs */

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}



.PSchool-picture{
  /*grid-area: first;*/
  background-image:url('../img/MK.png');
  height: 300px;
  width: 300px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

.HSchool-picture{
  background-image:url('../img/ekonomska.png');
  height: 300px;
  width: 300px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

.USchool-picture{
  background-image:url('../img/IUS.png');
  height: 300px;
  width: 300px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

#devius{
  text-decoration: none;
  color: #e1a87a;
}

/*Work*/

.raiffeisen{
  background-image: url('../img/raiff.jpg');
  height: 300px;
  width: 700px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

/*General containers*/

.gray-container{
  min-height:100%;
  width: 100%;
  background-color:#1a1a1a;
  color:#ddd;
}

.white-container{
  min-height:100%;
  width: 100%;
  background-color:#fff;
  color:#666;
}

.section{
  text-align:center;
  padding:50px 80px;
  margin: 0;
}

.black{
  color: black;
  text-transform:uppercase;
  font-weight: bold;
}


/*Nav bar*/


.Nav-ul{
  grid-area: navigation;
  margin:0;
  padding-top: 20px;
  list-style-type: none;
}

.Nav-li{
  float: left;
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.3vw;
  padding: 4px;
  border-radius: 15px;
  margin: 5px;

}

.Nav-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  ". navigation .";
  padding-top: 1em;
  padding-bottom: 0; 
  line-height: 2em;
  margin: 0;
}

.link{
  text-decoration: none;
  color: #DFE2E2;

}
.link:hover{
  color: #e1a87a;
}

/*Skills*/

.Skill-ul{
  list-style-type: none;
}

.Skill-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . zero . ."
  "one two three four five";
  padding-top: 1em;
  padding-bottom: 0; 
  line-height: 2em;
  margin: 0;
}

.zero{
  grid-area: zero;
}
.one{
  grid-area: one;
}
.two{
  grid-area: two;
}
.three{
  grid-area: three;
}
.four{
  grid-area: four;
}
.five{
  grid-area: five;
}

/*information*/

#mail{
  text-decoration: none;
  color: #e1a87a;
}

.info-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "InfoPic about";
  padding-top: 1em;
  padding-bottom: 0; 
  line-height: 2em;
  margin: 0;
}

.info-container{
  text-align: center;
}

.info{
  grid-area: InfoPic;
  background-image: url('../img/VR.jpeg');
  height: 80%;
  width: 100%;
  margin-left: 5%;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}
.about{
  grid-area: about;
}

/* footer*/

footer{
  background-color: #1a1a1a;
  margin:0;
}