html,body{
	height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:300;
  /*line-height:1.8em;*/
  color:#666;
}

h1,h2,h3{
  text-align:center;
  padding: 20px;
  margin: 0;
  font-family: 'Baloo Bhaijaan', cursive;
  letter-spacing:2px;
}

.title-text{
  position:absolute;
  top:30%;
  width:100%;
  text-align:center;
  color: #fff;
  font-size:4vw;
  font-family: 'Freckle Face', cursive;
  letter-spacing:8px;
  text-transform:uppercase;
}

.head-container{
  background-image:url('../img/Adem.png');
  min-height:100%;
  width: 100%;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
}

/*Education*/
.grid{
  display: grid;
  grid-template-areas:
  "top top top"
  "right center left";
  padding-top: 1em;
  padding-bottom: 0; 
  line-height: 2em;
  margin: 0;
}

.Section-title{
  grid-area: top;
}

.right-container{
  grid-area: right;
  text-align: center;
}

.left-container{
  grid-area: left;
  text-align: center;
}

.center-container{
  grid-area: center;
  text-align: center;
}

.EducationDivs{
  border-radius: 25px;
  background-color: rgb(140, 135, 135, 0.1);
  margin: 30px;
  padding-top: 30px;
  margin-bottom: 50px;
}

.PSchool-picture{
  /*grid-area: first;*/
  background-image:url('../img/MK.png');
  height: 300px;
  width: 300px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

.HSchool-picture{
  background-image:url('../img/ekonomska.png');
  height: 300px;
  width: 300px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

.USchool-picture{
  background-image:url('../img/IUS.png');
  height: 300px;
  width: 300px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

/*Work*/

.raiffeisen{
  background-image: url('../img/raiff.jpg');
  height: 300px;
  width: 700px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

/*General containers*/

.gray-container{
  min-height:100%;
  width: 100%;
  background-color:#282e34;
  color:#ddd;
}

.white-container{
  min-height:100%;
  width: 100%;
  background-color:#f4f4f4;
  color:#666;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.black{
  color: black;
  text-transform:uppercase;
  font-weight: bold;
}


/*Nav bar*/


.Nav-ul{
  grid-area: navigation;
  margin:0;
  padding-top: 20px;
  list-style-type: none;
}

.Nav-li{
  float: left;
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.3vw;
  padding: 5px;
  border-radius: 15px;
  margin: 5px;

}

.Nav-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  ". navigation .";
  padding-top: 1em;
  padding-bottom: 0; 
  line-height: 2em;
  margin: 0;
}

.link{
  text-decoration: none;
  color: #DFE2E2;

}

/*Skills*/

.Skill-ul{
  list-style-type: none;
}

.Skill-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". . zero . ."
  "one two three four five";
  padding-top: 1em;
  padding-bottom: 0; 
  line-height: 2em;
  margin: 0;
}

.zero{
  grid-area: zero;
}
.one{
  grid-area: one;
}
.two{
  grid-area: two;
}
.three{
  grid-area: three;
}
.four{
  grid-area: four;
}
.five{
  grid-area: five;
}