html,body{
	height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  /*line-height:1.8em;*/
  color:#666;
}

h1,h2,h3{
  text-align:center;
  padding: 20px;
  margin: 0;
}

.title-text{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#fff;
  font-size:4vw;
  letter-spacing:8px;
  text-transform:uppercase;
}

.head-container{
  background-image:url('../img/Adem.png');
  min-height:100%;
  width: 100%;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
}


.grid{
  display: grid;
  grid-template-areas:
  "top top top"
  "right center left";
  padding-top: 1em;
  padding-bottom: 0; 
  line-height: 2em;
  margin: 0;
}

.Section-title{
  grid-area: top;
}

.right-container{
  grid-area: right;
  text-align: center;
}

.left-container{
  grid-area: left;
  text-align: center;
}

.center-container{
  grid-area: center;
  text-align: center;
}

/*.grid-section{
  display: grid;
  grid-template-areas:
  "first"
  "second"
  "third";
  padding-top: 1em;
  padding-bottom: 0; 
  line-height: 2em;
  margin: 0;
}

.second{
  grid-area: second;
}
.third{
  grid-area: third;
}*/

.PSchool-picture{
  /*grid-area: first;*/
  background-image:url('../img/MK.png');
  height: 300px;
  width: 300px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

.HSchool-picture{
  background-image:url('../img/ekonomska.png');
  height: 300px;
  width: 300px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

.USchool-picture{
  background-image:url('../img/IUS.png');
  height: 300px;
  width: 300px;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  display: inline-block;
}

.gray-container{
  min-height:100%;
  width: 100%;
  background-color:#282e34;
  color:#ddd;
}

.white-container{
  min-height:100%;
  width: 100%;
  background-color:#f4f4f4;
  color:#666;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.black{
  color: black;
  text-transform:uppercase;
  font-weight: bold;
}